extends ../layout1
block append script
block content
    .container
        form(method='POST' action='/workbench/save')
            .containerinfo
                p.text-danger.text-center مشخصات اصلی محصول
                .row.mt-2.mb-2
                    .col-md-3.pr-5
                        label(for="name") نام:
                    .col-md-9.pl-5
                        input#name.form-control(name="name" required="is required" oninvalid="setCustomValidity('لطفا نام محصول را وارد کنید')" oninput="setCustomValidity('')" maxlength="50")
                .row.mt-2.mb-2
                    .col-md-3.pr-5
                        label(for="branch") شاخه:
                    .col-md-9.pl-5
                        select#branch.form-control(name="branch" required)
                            each item in branch
                                option(value=item.code) #{item.name}
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="productcode") کد محصول:
                    .col-md-3.pl-5
                        input#productcode.form-control(name="productcode" required="is required" oninvalid="setCustomValidity('لطفا کد محصول را وارد نمایید')" oninput="setCustomValidity('')" maxlength="50")
                    .col-md-3.pr-5
                        label(for="imagea") عکس اول:
                    .col-md-3.pl-5
                        input#imagea.form-control(name="imagea" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس اول الزامی است')" oninput="setCustomValidity('')" maxlength="50")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="imageb") عکس دوم:
                    .col-md-3.pl-5
                        input#imagea.form-control(name="imageb" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس دوم الزامی است')" oninput="setCustomValidity('')" maxlength="50")
                    .col-md-3.pr-5
                        label(for="imagec") عکس سوم:
                    .col-md-3.pl-5
                        input#imagea.form-control(name="imagec" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس سوم الزامی است')" oninput="setCustomValidity('')" maxlength="50")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="imaged") عکس چهارم:
                    .col-md-3.pl-5
                        input#imagea.form-control(name="imaged" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس چهارم الزامی است')" oninput="setCustomValidity('')" maxlength="50")
                    .col-md-3.pr-5
                        label(for="imagee") عکس پنجم:
                    .col-md-3.pl-5
                        input#imagea.form-control(name="imagee" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس پنجم الزامی است')" oninput="setCustomValidity('')" maxlength="50")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="producttype") وضعیت محصول:
                    .col-md-3.pl-5
                        input#producttype.form-control(name="producttype" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس چهارم الزامی است')" oninput="setCustomValidity('')" maxlength="50")
                .row.mt-2.mb-2
                    .col-md-3.pr-5
                        label(for="description") توضیحات:
                    .col-md-9.pl-5
                        textarea#description.form-control(name="description" required="is required" oninvalid="this.setCustomValidity('لطفا توضیحات محصول را وارد نمایید')" oninput="setCustomValidity('')" maxlength="500")
            br
            .containerinfo
                p.text-danger.text-center قیمت قطعات
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="specifications1") ویژگی 1:
                    .col-md-3.pl-5
                        input#specifications1.form-control(type="text" name="specifications1" maxlength="50" onkeypress="return isNumber(event)")
                    .col-md-3.pr-5
                        label(for="specifications2") ویژگی 2:
                    .col-md-3.pl-5
                        input#specifications2.form-control(type="text" name="specifications2" maxlength="50" onkeypress="return isNumber(event)")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="specifications3") ویژگی 3:
                    .col-md-3.pl-5
                        input#specifications3.form-control(type="text" name="specifications3" maxlength="50" onkeypress="return isNumber(event)")
                    .col-md-3.pr-5
                        label(for="specifications4") ویژگی 4:
                    .col-md-3.pl-5
                        input#specifications4.form-control(type="text" name="specifications4" maxlength="50" onkeypress="return isNumber(event)")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="specifications5") ویژگی 5:
                    .col-md-3.pl-5
                        input#specifications5.form-control(type="text" name="specifications5" maxlength="50" onkeypress="return isNumber(event)")
                    .col-md-3.pr-5
                        label(for="specifications6") ویژگی 6:
                    .col-md-3.pl-5
                        input#specifications6.form-control(type="text" name="specifications6" maxlength="50" onkeypress="return isNumber(event)")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="specifications7") ویژگی 7:
                    .col-md-3.pl-5
                        input#specifications7.form-control(type="text" name="specifications7" maxlength="50" onkeypress="return isNumber(event)")
                    .col-md-3.pr-5
                        label(for="specifications8") ویژگی 8:
                    .col-md-3.pl-5
                        input#specifications8.form-control(type="text" name="specifications8" maxlength="50" onkeypress="return isNumber(event)")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="specifications9") ویژگی 9:
                    .col-md-3.pl-5
                        input#specifications9.form-control(type="text" name="specifications9" maxlength="50" onkeypress="return isNumber(event)")
                    .col-md-3.pr-5
                        label(for="specifications10") ویژگی 10:
                    .col-md-3.pl-5
                        input#specifications10.form-control(type="text" name="specifications10" maxlength="50" onkeypress="return isNumber(event)")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="specifications11") ویژگی 11:
                    .col-md-3.pl-5
                        input#specifications11.form-control(type="text" name="specifications11" maxlength="50" onkeypress="return isNumber(event)")
                    .col-md-3.pr-5
                        label(for="specifications12") ویژگی 12:
                    .col-md-3.pl-5
                        input#specifications12.form-control(type="text" name="specifications12" maxlength="50" onkeypress="return isNumber(event)")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="specifications13") ویژگی 13:
                    .col-md-3.pl-5
                        input#specifications13.form-control(type="text" name="specifications13" maxlength="50" onkeypress="return isNumber(event)")
                    .col-md-3.pr-5
                        label(for="specifications14") ویژگی 14:
                    .col-md-3.pl-5
                        input#specifications14.form-control(type="text" name="specifications14" maxlength="50" onkeypress="return isNumber(event)")
                .row.mt-4.mb-4
                    .col-md-3.pr-5
                        label(for="specifications15") ویژگی 15:
                    .col-md-3.pl-5
                        input#specifications15.form-control(type="text" name="specifications15" maxlength="50" onkeypress="return isNumber(event)")
            .row.txt-center.mt-4
                .col-md-8.mt-3
                    a.btn.ml-4.btn-warning.linkbutton(href='/workbench/index') نمایش محصولات
                    button.btn.btn-success.linkbutton(type="submit") ذخیره
            script.
                console.log(!{JSON.stringify(branch)})