extends ../layout1
block append script
block content
  .container
    h2.text-info.text-center سیستم های تهویه مطبوع
    .row.mt-5.p-4
      p.text-right.mt-5 سیستم های تهویه مطبوع شامل دسته بندی های زیر می باشند
    .row
      ul#products
        a.prfamily(href='/branches/a1' style="background-image: url(/images/branches/coolergazi.png);") کولر گازی و اسپلیت
        a.prfamily(href='#' style="background-image: url(/images/branches/ductsplit.png);") داکت اسپلیت
        a.prfamily(href='#' style="background-image: url(/images/branches/splitmarkazi.png);") اسپلیت مرکزی
        a.prfamily(href='#' style="background-image: url(/images/branches/fancoil.png);") فن کوئل
        a.prfamily(href='#' style="background-image: url(/images/branches/chiller.png);") چیلر
        a.prfamily(href='#' style="background-image: url(/images/branches/minichiller.png);") مینی چیلر
        a.prfamily(href='#' style="background-image: url(/images/branches/borj.png);") برج خنک کن
        a.prfamily(href='#' style="background-image: url(/images/branches/havasaz.png);") هوا ساز
        a.prfamily(href='#' style="background-image: url(/images/branches/roftabpackage.png);") روفتاب پکیج
        a.prfamily(href='#' style="background-image: url(/images/branches/coolerabi.png);") کولر آبی
        a.prfamily(href='#' style="background-image: url(/images/branches/zent.png);") زنت
        a.prfamily(href='#' style="background-image: url(/images/branches/airwasher.png);") ایر واشر
        a.prfamily(href='#' style="background-image: url(/images/branches/fan.png);") فن سانتریفیوژ        
        a.prfamily(href='#' style="background-image: url(/images/branches/aircondansor.png);") کندانسور هوایی