extends ../layout1
block append script
block content
  .container
    h2.text-info.text-center کولر گازی و اسپلیت
    .row.mt-5.p-4
      p.text-right.mt-5 اسپلیتها تحولی در تهویه مطبوع ایجاد کردند تحولی عظیم از تبدیل چیلر با ابعاد بزرگ به دستگاهی کوچک به نام اسپلیت که به صورت خانگی می‌توان از آن استفاده کرد با این تفاوت که مانند چیلر ها آب خنک به فن کویل ها فرستاده نمی‌شود و به جای آن مبرد یا همان گاز به دستگاه هواساز که درون اتاق و در روی دیوار نصب شده فرستاده میشود و هوای مطبوع توسط دستگاه هواساز که در داخل اتاق نصب هست به اتاق دمیده می شود
    .row
      ul#brands
        a.prfamily(href='/product/a1a' style="background-image: url(/images/brands/bigbrands/greebig.png);")
        a.prfamily(href='/product/a1b' style="background-image: url(/images/brands/bigbrands/zanetibig.png);")
        a.prfamily(href='/product/a1c' style="background-image: url(/images/brands/bigbrands/evvolibig.png);")
        a.prfamily(href='/product/a1d' style="background-image: url(/images/brands/bigbrands/greenbig.png);")
        a.prfamily(href='/product/a1e' style="background-image: url(/images/brands/bigbrands/boschbig.png);")
        a.prfamily(href='/product/a1f' style="background-image: url(/images/brands/bigbrands/hisensebig.png);")
        a.prfamily(href='/product/a1g' style="background-image: url(/images/brands/bigbrands/techelectricbig.png);")